@use "variables" as *;

// Games Section
.games-section {
    padding: 6rem 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-bottom: 3rem;
        color: $neon-purple;
        text-shadow: 0 0 3px $neon-purple;
    }
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.game-card {
    background-color: $secondary-color;
    border-radius: 10px;
    overflow: hidden;
    @include transition;
    border: 1px solid $accent-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 20px rgba($neon-purple, 0.5);
    }

    .game-image {
        padding: 1rem;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            border-radius: 5px;
        }
    }

    .game-info {
        padding: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        h3 {
            color: $neon-purple;
            margin-bottom: 1rem;
            @include neon-glow;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        p {
            color: $text-secondary;
            margin-bottom: 1.5rem;
            line-height: 1.6;
            font-size: 1.1rem;
            font-weight: 300;
            letter-spacing: 0.5px;
        }

        .play-button {
            margin: 0 auto;
            margin-top: auto;
        }
    }
} 